main{
    .bacground_sustainability{
        background-image: url("/assets/imgs/background_Sustainability1.png");
        min-height: 50vh;
        height: 50vh;
        background-repeat: no-repeat;

        h2 {
            font-size: 100px;
            color: white;
            text-align: center;
            padding-top: 200px;
        }
    }
    .text_sustainability {
        p {
            margin: auto;
            width: 680px;
            text-align: center;
            font-size: 35px;
            padding-top: 150px;
        }
    }
    .working_ethos {
        background-color: rgb(235, 235, 235);
        padding: 20px;
        display: flex;
        justify-content: center;
        margin-top: 150px;
        .working_ethos_card {
            width: 30%;
        }
        h2 {
            font-size: 40px;
            padding-left: 50px;
        }
        p {
            margin-top: 100px;
            font-size: 30px;
            text-align: start;
            padding-left: 50px;
        }
    }
    .material {
        background-color: rgb(250, 145, 103);
        
        display: flex;
        justify-content: center;
        
        .material_card {
            width: 30%;
            color: white;
        }
        h2 {
            font-size: 50px;
            padding: 40px;
        }
        p {
            font-size: 25px;
            padding: 40px;
        }
        
    }
}